h1{
	color:red;
}
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #FFFAFA;
	color: #333;
}
header{
	background-color: #FFFFF0;
	text-align: center;
	padding: 20px;
}
h1 {
	margin: 0;
	color:#333;
	font-size: 2.5em;
}
main{
	padding: 20px;
}
.wiersz{
	font-style: italic;
	line-height: 1,8;
	background-color:	#FFE4E1;
	border-left: 5px solid 	#FFE4E1
	padding: 10px 20px;
	margin:20 0;
	border-radius: 5px;
	color: #555;
	
}
table{
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0;
	background-color: 	#FFE4E1;
	box-shadow: 0 0 10px #FFB6C1;
	
}
table th, table td {
	border: 1px solid 	#C71585;
	padding: 10px;
	text-align: left;
	
}

table th {
	background-color: 	#FF69B4;
	color: 	#C71585;
	
	
}
ul, ol{
	margin: 0;
	padding: 10px, 20px;
	
}
footer {
	background-color: #DDA0DD;
	color: 	#DA70D6;
	text-align: center;
	padding: 10px 0;
	font-size: 0,9em;
	
}
footer a{
	color:	#9370DB;
	text-decoration: none;
	
}
footer a:hover {
	text-decoration: underline;
	
	
}